<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div>
    <div class="container">
      <h2 class="display-5">Welcome to organize your tasks!</h2>
      <p>
        The Todo List Application is a user-friendly task management tool
        designed to help individuals and teams organize their daily activities
        and responsibilities. With an intuitive interface and essential
        features, it streamlines the process of creating, tracking, and
        completing tasks efficiently.
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Task Creation and Organization</h2>
        <p>
          Easily create and categorize tasks with due dates and priorities for
          efficient management. Stay on top of your responsibilities by
          organizing them in a clear and structured manner. Customize task lists
          to fit your unique workflow.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Reminders and Notifications</h2>
        <p>
          Receive timely alerts and reminders for upcoming tasks, ensuring
          nothing falls through the cracks. Never miss a deadline or forget an
          important task with our robust notification system. Tailor
          notification preferences to suit your work style.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Collaboration and Sharing</h2>
        <p>
          Share tasks or projects with team members, allowing seamless
          collaboration and progress tracking. Enhance teamwork and productivity
          by keeping everyone in the loop and aligned towards common goals.
          Delegate tasks and monitor progress effortlessly.
        </p>
      </div>
    </div>

    <hr />
  </div>
  <!-- /container -->
</main>

<footer class="container">
  <p>&copy; Company 2017-2018</p>
</footer>
